WEBHDFSHOST=inimical1.fyre.ibm.com
WEBHDFSPORT=9870
WEBHDFSUSER="hdfs"

INPUTTXT=/home/sbartkowski/work/webhdfsdirectory/testdata/inputhdfs.txt

LOGFILE=/tmp/webhdfsdir/log.txt

USERDIR=/user/sc_vici/
